*.class
*.log
.idea/

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet

# Spark
metastore_db/

# Content
data/dataframe
data/dataframe_save
data/model
sujet/


# Other
jupyter_notebook/.ipynb_checkpoints
